@keyframes appear1 {
    0%   { transform: scale(0); }
    25%   { transform: scale(1); }
    100%  { transform: scale(1); }
}

@keyframes appear2 {
    0%   { transform: scale(0); }
    50%   { transform: scale(1); }
    100%  { transform: scale(1); }
}

@keyframes appear3 {
    0%   { transform: scale(0); }
    100%  { transform: scale(1); }
}

@-webkit-keyframes appear1 {
    0%   { transform: scale(0); }
    25%   { transform: scale(1); }
    100%  { transform: scale(1); }
}

@-webkit-keyframes appear2 {
    0%   { transform: scale(0); }
    50%   { transform: scale(1); }
    100%  { transform: scale(1); }
}

@-webkit-keyframes appear3 {
    0%   { transform: scale(0); }
    100%  { transform: scale(1); }
}

@keyframes comment-appear {
    0%   { background: rgba(85, 136, 186, 0.3); }
    90%  { background: rgba(0, 0, 0, 0); }
    100%  { background: #F7F7F7; }
}

@-webkit-keyframes comment-appear {
    0%   { background: rgba(85, 136, 186, 0.3); }
    90%  { background: rgba(0, 0, 0, 0); }
    100%  { background: #F7F7F7; }
}

@keyframes animated-gradient {
    100%  { background-position: 100% 0; }
}


.me_text .appear {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

.me_text .appear:first-child {
    animation-name: appear1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.me_text .appear:nth-child(2) {
    animation-name: appear2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.me_text .appear:last-child {
    animation-name: appear3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.answer-wrap {
    max-height: 0;
    opacity: 0;
}
.answer-wrap .emoji-box, .answer-wrap.typing .emoji-box {
    display: none;
}

.answer-wrap.just-typed .emoji-box, .answer-wrap.already-typed .emoji-box {
    display: flex;
}


.typing-block, .additional-block {
    max-height: 0;
    opacity: 0;
    transition: .3s;
}
.typed-text {
    max-height: 0;
    opacity: 0;
    transition: 2s;
}

.answer-wrap.typing .comment__body {
    background: linear-gradient(to left, rgba(85, 136, 186, 0.2), rgba(85, 136, 186, 0.2), rgba(85, 136, 186, 0.1), rgba(85, 136, 186, 0.2), rgba(85, 136, 186, 0.0));
    background-size: 200% 100%;
    animation: animated-gradient 2s infinite alternate;
}

.answer-wrap.typing, .answer-wrap.just-typed, .answer-wrap.already-typed {
    max-height: 900px;
    opacity: 1;
}

.answer-wrap.typing .typing-block {
    max-height: 50px;
    opacity: 1;
}

.answer-wrap.just-typed .comment__body {
    animation-name: comment-appear;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.answer-wrap.just-typed .typed-text, .answer-wrap.already-typed .typed-text, .comment-layout .typed-text {
    max-height: 700px;
    opacity: 1;
}

.answer-wrap.just-typed .additional-block, .answer-wrap.already-typed .additional-block {
    max-height: 50px;
    opacity: 1;
}

.answer-wrap.already-typed {
    animation: none;
}

.answer-wrap.already-typed .typed-text, .answer-wrap.already-typed .additional-block {
    transition: none;
}

.answer-wrap.already-typed .typing-block, .answer-wrap.just-typed .typing-block {
    position: relative;
    z-index: -1;
}

.answer-wrap.type .typing {
    max-height: 50px;
    opacity: 1;
}


.line-hider .comment:not(.comment--answer):before {
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    transition: .4s;
}
